---
layout: nil
---

{% include header.html %}

<div class="container about">
	<h1 class="content-title">Bob LeGrand</h1>
	<div class="content-subtitle">Network Security Student - Outdoorsman - Adventurer</div>
	<div class="content">

		<b>Me</b><br>
		I'm not very good at self-promotion. I enjoy running, though I also like walking. I like drawing; I'm an okay graphic designer. I've always liked Computers and things that have to do with computers. I enjoy learning, and I am often finding ways to refine my learning process. Also, I keep inordinately long, meticulous to-do lists.<br><br>

		<b>Memopadman?</b><br>
		Yeah, I dunno. Finding a proper nickname on the internet is hard. In addition to finding a handle that is appropriately descriptive and unique (forget about old stand-bys like 'spr0cket' and 'spanky'), you also have to take into consideration how easy it is to remember and type (cross out 'ratherunintelligent' and 'l3013_') and is also available on most of the services you want to use (so long, '0xBB' and 'bobdotcom'). <br><br>

		Hence, memopadman. For the past few years, I've had the habit of recording everything I need to remember on a small spiral notepad I carry in my pocket wherever I go. This practice has significantly increased my ability to remember to do things. I've tried other methods of recording thoughts -- digital and otherwise -- but no other solutions so far have been as successful as my trusty notepads.<br><br> 

		I suppose donning this alias is a sort of social pact to preclude investing time into further advancements in note-taking technology and resign myself to permanently pack a pen and pad in my pocket. And you know what? <i>I'm cool with that.<i><br><br>

	</div>
</div>

{% include footer.html %}