---
layout: nil
---

{% include header.html %}

<div class="container about">
	<div class="row">
		<h1 class="content-title">Bob LeGrand</h1>
		<div class="content-subtitle">Network Security Student - Outdoorsman - Adventurer</div>
		<div class="content">

			<b>Why "Dumb"?</b><br>
			I feel like, in my field, I am constantly surrounded by incredibly talented people. This is both thrilling and enlightening, but as a result, I have a bit of an inferiority complex.<br><br>


			<b>Me</b><br>
			I'm not real good at self-promotion. I enjoy running, though I also like walking. I like drawing; I'm an okay graphic designer. I've always liked <i>Computers</i> and things that have to do with computers. I enjoy learning, and I am often finding ways to refine my learning process. I keep inordinately long, meticulous to-do lists.<br><br>

		<b>Me</b><br>
		I'm not very good at self-promotion. I enjoy running, though I also like walking. I like drawing; I'm an okay graphic designer. I've always liked computers and things that have to do with computers. I enjoy learning, and I am often finding ways to refine my learning process, and I keep inordinately long, meticulous to-do lists.<br><br>

		</div>
	</div>
</div>

{% include footer.html %}