---
layout: nil
---

{% include header.html %}

<div class="row" style="padding-bottom:3em">

<h1 style="font-family:Sintony, 
		   sans-serif;
		   margin-left:auto;
		   margin-right:auto;
		   width:70%;
		   text-align:center">

		The Elevator Pitch
</h1>
<div style="font-family:Sintony;font-size:1.75em;line-height:1.5;margin-left:auto;margin-right:auto;width:70%;padding-top:1em">
	Basically, if you want to communicate via text over the internet, there is no better way than Internet Relay Chat. It was one of the first, and it persists to this day not because of kitsch, but because it remains one of the most useful and adaptable forms of text communication available. <br>
	I know this sounds kinda inconvenient, but hear me out, guys. There really are a lot of advantages that IRC has over Skype. So much so that I decided to make this tutorial for helping you get started.
</div><br>

<h1 style="font-family:Sintony, 
		   sans-serif;
		   margin-left:auto;
		   margin-right:auto;
		   width:70%;
		   text-align:center">

		The Tutorial
	</h1>
<div style="font-family:Sintony;font-size:1.75em;line-height:1.5;margin-left:auto;margin-right:auto;width:70%;padding-top:1em">
	Rather than do a step-by-step tutorial for operating a particular IRC client, I'll just go over the basics, which can be applied to any IRC client ever.
</div><br>

<h2 style="font-family:Sintony, 
		   sans-serif;
		   margin-left:auto;
		   margin-right:auto;
		   width:70%;
		   text-align:center">

		Gettin' Connected
	</h2>
<div style="font-family:Sintony;font-size:1.75em;line-height:1.5;margin-left:auto;margin-right:auto;width:70%;padding-top:1em">
	So if you want to connect to a chat server on IRC, all you need are two pieces of information, the <b>Server</b> and the <b>Channel</b> (a <b>Nickname</b> is also crucial, but that can be whatever you want it to be, whenever you want it to be; no need for an account of any sort). The server information comes in the form of a url, typically preceded by 'irc'; for example, <u>'irc.freenode.net'</u> or <u>'irc.quake.net'</u>. The channel information is simply the name of the chat channel you want to connect to, preceded by a pound sign, like "#hamradio" or "#theusualsuspects". If you join a chat channel that doesn't already exist, it makes one for you, with you as the main operator, easy as that. <br>
	In our case, the channel is named #theusualsuspects, in memory of the name of our Skype group on my computer. Our channel is located on the server irc.freenode.net.
</div><br>

<h2 style="font-family:Sintony, 
		   sans-serif;
		   margin-left:auto;
		   margin-right:auto;
		   width:70%;
		   text-align:center">

		And That's Pretty Much It
	</h2>
<div style="font-family:Sintony;font-size:1.75em;line-height:1.5;margin-left:auto;margin-right:auto;width:70%;padding-top:1em">
	If you want to try it out before you download anything, I found this nifty little embeddable web client while I was writing this article. <br> 
	All the info is already filled out, so just use whatever nickname you want, and hit 'Start'. You'll be taken right to our IRC channel! <br>
	You can always download a more feature-rich client, too. I'd reccommend <a href="http://www.quassel-irc.org/downloads">Quassel</a> as it has the inherent ability to store a chat buffer, like you'd expect in a modern chat client.
</div>

<div>
	<iframe src="https://kiwiirc.com/client/irc.freenode.net/?nick=mingebag|?#theusualsuspects" style="border:0; width:100%; height:450px;"></iframe>
</div>

{% include footer.html %}