<script src="{{ site.url }}/js/jquery-2.0.3.js"></script>
<script src="{{ site.url }}/js/bootstrap.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43905105-1', 'b0bby.github.io');
  ga('send', 'pageview');

</script>

<script>
    // Create color bars and start sine wave
    var y = 0;
    var sineWave = new Array();
    var time = 0;
    var color2 = Math.floor((Math.random()*255) + 0);
    var color3 = Math.floor((Math.random()*255) + 0);
    var amplitude = 75;
    var refresh = 40;
    var phaseX = 400;
    var phaseY = 0;
    var period = 0.05;
    var colorBarHeight = 2;
    var headerBarHeight = $(".header-bar").height();
    var sineLength = headerBarHeight/colorBarHeight;

    for (time=0; time < sineLength * 2 +51; time++) {
      sineWave[time] = Math.round(amplitude * Math.sin(period * (time + phaseY)) + phaseX);
    }

    addColorBars();
    animateColorBars();

    $(document).ready(function(){

      if ($("div.container").hasClass("about")) {
        $(".linkbar-button.about").attr("href", "{{ site.url }}/index.html");
        $(".linkbar-button.about > div").attr("title", "Return");
        $(".linkbar-button.about > div > i").attr("class", "icon-mail-reply");
      } else {
        $(".linkbar-button.about").attr("href", "{{ site.url }}/about.html");
      }

      $("[data-toggle='tooltip']").tooltip({html:true, placement: 'right'});
    });

    function addColorBars(){

      for (time=0; time < sineLength; time++) {

        var colorBar = "<div class='color-bar' style='margin-top:" + 
                        (time * colorBarHeight)
                      + "px;width:" + 
                        sineWave[time]
                      + "px;height:" +
                        colorBarHeight
                      + "px;background-color:rgb(" +
                        Math.round(time * (255/sineWave.length)) 
                        + "," + 
                        color2 
                        + "," + 
                        color3
                      + ");'></div>";

        document.getElementById("color-bars").innerHTML+=colorBar;
      }
    };

    function animateColorBars(){
      if (y > sineWave.length){
        y = 0;
      }
      var x = y;
      $('#color-bars').children('div').each(function(){
        if (x > sineWave.length -1){
          x = 0;
        }
        $(this).css('width', sineWave[x]);
        x++;
      });

      y++;
      setTimeout(animateColorBars, refresh);
    }

</script>

<div class="copyright">
    Bob 2013
</div>
</body>