<script type="text/javascript">
  var GoSquared = {};
  GoSquared.acct = "GSN-506298-T";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>
<div style="font-family:'Ubuntu';
            padding-top:30px;
            text-align:center;">
            <div style="border-top:2px solid rgb(197, 191, 191);
                        padding-top:1em;
                        padding-bottom:30px;
                        width:800px;
                        margin-left:auto;
                        margin-right:auto;">
                        Bob 2013
            </div>
</div>
</body>