
<div class="well" style="background-color:#E9E9E9;min-height:700px;box-shadow:-5px 5px 5px #C2C2C2">
	<div style="text-align:center;padding-bottom:10px"><i>Bob LeGrand is</i></div>
<a href="{{ site.url }}index.html">
<div>
	<img src="{{ site.url }}images/title.png">
</div>
</a> 
<p style="padding-top:10px">
The journal of a guy who is constantly humbled and inspired by the incredible work of his peers. Fascinated by his course of study -- learning independently, failing constantly and occassionally succeeding -- every step of the way.
</p>
<div class="muted" style="padding-top:10px;opacity:0.75"> 
	<img src="https://lh5.googleusercontent.com/-4Z1-I2r8BtI/SKOisuoCWJI/AAAAAAAAEPQ/RNW9O2bKB7M/s810/P1020022.JPG" class="img-rounded">
	This is the blog of Bob LeGrand, Computer Network Security student and amateur underwear model.
</div>
<div style="padding-top:10px">
	Contact:<br>
	<a class="muted" href="mailto:robertj.legrand@gmail.com">Email</a><br>
	<a class="muted" href="https://twitter.com/BobLeGrand2">Twitter</a><br>
	<a class="muted" href="https://www.facebook.com/bob.legrand.16">Facebook</a><br>
	<a class="muted" href="https://github.com/B0bby">Github</a><br>
</div>
</div>